    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.subtitle %}
    <meta property="og:subtitle" content="{{ page.subtitle }}" />
    <meta property="twitter:subtitle" content="{{ page.subtitle }}" />
    {% endif %}

    {% if page.rating %}
    <meta property="og:rating" content="{{ page.rating }}" />
    <meta property="twitter:rating" content="{{ page.rating }}" />
    {% endif %}

    {% if page.author %}
    <meta property="og:author" content="{{ page.author }}"/>
    <meta property="twitter:author" content="{{ page.author }}" />
    {% endif %}