---
---

@import "{{ site.theme }}";

/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
body { font-family: "Georgia", serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

aside#sidebar {
  float: left;
  width: 200px;
  min-height: 504px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.3;
}
aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}
